<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Reset password</title>
    <!--[if mso
      ]><style type="text/css">
        body,
        table,
        td,
        a {
          font-family: Arial, Helvetica, sans-serif !important;
        }
      </style><!
    [endif]-->
  </head>

  <style>
    .logo-title {
        font-weight: 700;
        font-size: 24px;
        line-height: 20px;
        color: #0b9d56;
        margin-left: 12px;
      }
  </style>

  <body
    style="
      font-family: Helvetica, Arial, sans-serif;
      margin: 0px;
      padding: 0px;
      background-color: #ffffff;
    "
  >
    <table
      role="presentation"
      style="
        width: 100%;
        border-collapse: collapse;
        border: 0px;
        border-spacing: 0px;
        font-family: Arial, Helvetica, sans-serif;
        background-color: rgb(239, 239, 239);
      "
    >
      <tbody>
        <tr>
          <td
            align="center"
            style="padding: 1rem 2rem; vertical-align: top; width: 100%"
          >
            <table
              role="presentation"
              style="
                max-width: 600px;
                border-collapse: collapse;
                border: 0px;
                border-spacing: 0px;
                text-align: left;
              "
            >
              <tbody>
                <tr>
                  <td style="padding: 40px 0px 0px">
                    <div style="text-align: left">
                      <div style="padding-bottom: 20px">
                      <p class="logo-title">OneWork</p>
                      </div>
                    </div>
                    <div
                      style="
                        padding: 20px;
                        background-color: rgb(255, 255, 255);
                      "
                    >
                      <div style="color: rgb(0, 0, 0); text-align: left">
                        <h1 style="margin: 1rem 0">Trouble signing in?</h1>
                        <p>Hello, {{ .name }} 👋</p>
                        <p style="padding-bottom: 10px">
                          Someone is attempting to reset the password of your
                          account.
                        </p>
                        <p style="margin: 4px 0">
                          When: {{ .when }}
                        </p>
                        <p style="margin: 4px 0">
                          Device: {{ .device }}
                        </p>
                        <p style="padding-bottom: 10px; margin: 4px 0">
                          Near: {{ .near }}
                        </p>
                        <p>
                          If this was you, use your verification code to
                          proceed:
                        </p>
                        <div style="display: flex">
                          <p
                            style="
                              padding: 12px 24px;
                              border-radius: 4px;
                              color: #000;
                              background: #ddd;
                              text-decoration: none;
                              font-size: 130%;
                              border: none;
                              display: flex;
                              justify-content: center;
                              width: 100%;
                              height: 20px;
                              margin: 0;
                            "
                          >
                            <strong>{{ .code }}</strong>
                          </p>
                        </div>
                        <p style="padding-bottom: 16px">
                          Code is valid for <strong>10 minutes</strong>
                        </p>
                        <p style="padding-bottom: 16px">
                          If you didn't ask to reset your password, you can
                          ignore this email.
                        </p>
                        <p style="padding-bottom: 16px">
                          Thanks,<br />The OneWork team
                        </p>
                      </div>
                    </div>
                    <div
                      style="
                        padding-top: 20px;
                        color: rgb(153, 153, 153);
                        text-align: center;
                      "
                    >
                      <p style="padding-bottom: 16px">
                        Made with 💚 in Uzbekistan
                      </p>
                    </div>
                  </td>
                </tr>
              </tbody>
            </table>
          </td>
        </tr>
      </tbody>
    </table>
  </body>
</html>
